:root{
    --primaryColor: #7a63f1;
    --secondaryColor: #ebe8fc;
    --textColor: #a3a3a3;
    --greyColor: #ebe8fc;
    --whiteColor: #f5f4fa;
    --blackColor: #0e0d13;
}

.search{
    padding: 2rem 0;
    .title{
      color: var(--blackColor);
      font-size: 22px;
      padding: 1rem 0;
      text-align: center;
      font-weight: 700;
      line-height: 1.7rem;
    }

    .searchDiv{
        gap: .5rem;
        grid-template-columns: repeat(2,1fr);
        align-items: center;

        input{
            border: 1px solid var(--secondaryColor);
            padding: 5px 10px;
            width: 100%;
            border-radius: 10px;
            outline: none;

            &:focus{
                border: none;
                border: 1px solid var(--primaryColor);
                
            }
        }

        .btn{
            justify-content: center;
            width: 100%;
            align-items: center;
            gap: .3rem;
            .icon{
                font-size: 15px;
            }
        }
    }
}

// Media queries ====>
@media screen and (min-width: 520px) {
    .search{
        .title{
          font-size: 25px;
          padding: 2rem 0;
        }
    
        .searchDiv{
            grid-template-columns: repeat(2,1fr);
    
            input{
                padding: 10px;
                font-weight: 600;
                color: var(--primaryColor);
            }
    
            .btn{
                justify-content: center;
                width: 100%;
                align-items: center;
                gap: .3rem;
                font-size: 16px;

                .icon{
                    font-size: 18px;
                }
            }
        }
    }
}


@media screen and (min-width: 770px) {
    .search{
        .title{
          font-size: 30px;
          padding: 2rem 0;
        }
    
        .searchDiv{
            grid-template-columns: repeat(3,1fr);
        }
    }
}


@media screen and (min-width: 896px) {
    .search{
        width: 80%;
        margin: auto;
        .searchDiv{
            grid-template-columns: repeat(5,1fr);
 
            .btn{
                transform: translateY(-5px);
            }
        }

    }
}




